<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soledium Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>

<body class="container-fluid mt-3 bg-fondo">
    <nav class="navbar navbar-expand-lg bg-dark white-text navbar-dark rounded">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static '/gold.png' %}" height="50" alt="Logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Acceso Administrativo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Seguimiento</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2 border border-dark" type="search" placeholder="Productos" aria-label="Search">
                    <button class="btn btn-outline-success bg-dark white-text" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

    <h1 class="text-center mt-3">Categorías</h1>

    <div class="container mt-4">
        <div class="row g-4 justify-content-center mb">

            {% for cat in categorias %}
                <div class="col-12 col-md-3">
                    <a href="{% url cat.url_name %}" class="text-decoration-none text-dark">
                        <div class="card h-100 text-center" >
                            <img class="card-img-top img-fluid" src="{% static cat.imagen %}" style="height: 400px; object-fit: cover;" alt="{{ cat.nombre }}">
                            <div class="card-body">
                                <h5 class="card-title" style="color:darkgoldenrod; font-size:22px; font-weight:700;">{{ cat.nombre }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
    <footer class="text-center mt-4 p-3 bg-dark rounded" style="color:darkgoldenrod; font-size:22px; font-weight:400;">
        &copy; {% now "Y" %} Soledium Store. Todos los derechos reservados.
    </footer>

</body>
</html>